<div class="container text-center">
  <h1>Your Profile</h1>
  <table class="table table-secondary">
    <tbody>
      <tr>
        <td scope="col">Name</td>
        <td scope="col"><%= @profile.name %></td>
      </tr>
      <tr>
        <td scope="col">Email</td>
        <td scope="col"><%= @profile.email %></td>
      </tr>
      <tr>
        <td scope="col">Bio</td>
        <td scope="col"><%= @profile.bio %></td>
      </tr>
      <tr>
        <td scope="col">Date of Birth</td>
        <td scope="col"><%= @profile.dob %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to "Edit Profile", edit_profile_path(@profile.id), class: 'btn btn-primary m-3'%>
  <h2>Your Enrollments</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Event Date</th>
      </tr>
    </thead>
    <tbody>
      <% @enrollments.each do |e| %>
        <tr>
          <td><%= e.event.id %></td>
          <td><%= e.event.name %></td>
          <td><%= e.event.description %></td>
          <td><%= e.event.event_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if  @address %>
    <h2>Your Address</h2>
    <table class="table table-secondary">
      <tbody>
        <tr>
          <td scope="col">Line 1</td>
          <td scope="col"><%= @address.line1 %></td>
        </tr>
        <tr>
          <td scope="col">Line 2</td>
          <td scope="col"><%= @address.line2 %></td>
        </tr>
        <tr>
          <td scope="col">Area</td>
          <td scope="col"><%= @address.area %></td>
        </tr>
        <tr>
          <td scope="col">City</td>
          <td scope="col"><%= @address.city %></td>
        </tr>
        <tr>
          <td scope="col">State</td>
          <td scope="col"><%= @address.state %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
