<div class="container">
  <h1 class="text-center">Login</h1>
  <%= form_with(model: @user,url: sessions_path, data: {turbo: false}) do |form| %>
    <div class="mb-3">
      <%= form.label :email, class: "form-label" %>
      <%= form.text_field :email, class: "form-control", placeholder: "Enter Name"  %>
    </div>
    <div class="mb-3">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", placeholder: "Enter Password"  %>
    </div>
    <%= form.submit "Login", class:"btn btn-primary text-center"%>
  <% end %>
</div>
