<div class="container">
  <h1 class="text-center">Add Employee</h1>
  <%= form_with model: @employee do |form| %>
    <div class="mb-1">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control", placeholder: "Enter Name"  %>
    </div>
    <div class="mb-1">
      <%= form.label :email, class: "form-label" %>
      <%= form.text_field :email, class: "form-control", placeholder: "Enter Email"  %>
    </div>
    <div class="mb-1">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", placeholder: "Enter Password"  %>
    </div>
    <div class="mb-1">
      <%= form.label :password_confirmation, class: "form-label" %>
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password"  %>
    </div>
    <div class="mb-1">
      <%= form.label :gender, class: "form-label" %>
      <%= select_tag :status, options_for_select(Employee.genders.map {|k, v| [k, k]}) ,class:"form-select"%>
    </div>
    <div class="mb-1">
      <%= form.label :address, class: "form-label" %>
      <%= form.text_area :address, class: "form-control", placeholder: "Enter Address"  %>
    </div>
    <div class="mb-1">
      <%= form.label :mobile_number, class: "form-label" %>
      <%= form.text_field :mobile_number, class: "form-control", placeholder: "Enter Mobile Number"  %>
    </div>
    <div class="mb-1">
      <%= form.label :birth_date, class: "form-label" %>
      <%= form.date_field :birth_date, class: "form-control", placeholder: "Enter Birth Date"  %>
    </div>
    <div class="mb-1">
      <%= form.label :document, class: "form-label" %>
      <%= form.file_field :document,class:"form-control"%>
    </div>
    <%=  collection_check_boxes(:employee, :hobby_ids, Hobby.all, :id, :name) do |b| 
      b.label{class:"form-check-label"}

    end%>
    <%= form.submit "Add Employee", class:"btn btn-primary text-center"%>
  <% end %>
</div>
