<div class="container">
  <h1 class="text-center">Show Employee</h1>
  <table class="table table-hover table-striped">
    <tbody>
      <tr>
        <td>Name</td>
        <td><%= @employee.name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @employee.email  %></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td><%= @employee.gender %></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><%= @employee.address %></td>
      </tr>
      <tr>
        <td>Mobile Number</td>
        <td><%= @employee.mobile_number %></td>
      </tr>
      <tr>
        <td>Birth Date</td>
        <td><%= @employee.birth_date %></td>
      </tr>
    </tbody>
  </table>
</div>
