<h1 class="text-center">Employee</h1>
<div class="container">
  <table class="table table-secondary">
    <tbody>
      <tr>
        <td scope="col">ID</td>
        <td scope="col"><%= @employee.id %></td>
      </tr>
      <tr>
        <td scope="col">Name</td>
        <td scope="col"><%= @employee.first_name+" "+@employee.last_name %></td>
      </tr>
      <tr>
        <td scope="col">Email</td>
        <td scope="col"><%= @employee.email %></td>
      </tr>
      <tr>
        <td scope="col">Age</td>
        <td scope="col"><%= @employee.age %></td>
      </tr>
      <tr>
        <td scope="col">Orders</td>
        <td scope="col"><%= @employee.no_of_order %></td>
      </tr>
      <tr>
        <td scope="col">Availability</td>
        <td scope="col">
          <% if @employee.full_time_available %>
            <span class="badge bg-success">Available</span>
          <% else %>
            <span class="badge bg-danger">Not Available</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td scope="col">Salary</td>
        <td scope="col"><%= @employee.salary %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to "All Employees", employees_path,class: 'btn btn-primary m-3'%>
</div>
