<h1 class="text-center"> Authors</h1>
<div class="container text-center">
  <table class="table table-info">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last_Name</th>
      <th scope="col">Birth Date</th>
      <th scope="Delete">Email</th>
      <th scope="col">Edit</th>
      <th scope="Delete">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.id  %></td>
        <td>
          <%= link_to author.first_name, author_path(author)%>
        </td> 
        <td><%= author.last_name  %></td>
        <td><%= author.email  %></td>
        <td><%= author.date_of_birth  %></td>
        <td><%= link_to "Edit", edit_author_path(author),class: 'btn btn-primary'%></td>
        <td><%= link_to "Delete", author_path(author), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"},class: 'btn btn-primary'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add Author", new_author_path(),class: 'btn btn-primary'%>
</div>
