<%= turbo_frame_tag "mainframe" do %>
  <div class="container">
    <h1 class="text-center">Register User</h1>
    <% if @user.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= pluralize(@user.errors.count, "error") %> found.</strong>
        <ul>
          <% @user.errors.each do |error| %>
            <li>
              <%= error.full_message %>
            </li>
          <% end %>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= form_with(model: @user,data: {turbo: false}) do |form| %>
      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter Name"  %>
      </div>
      <div class="mb-3">
        <%= form.label :email, class: "form-label" %>
        <%= form.text_field :email, class: "form-control", placeholder: "Enter Email"  %>
      </div>
      <div class="mb-3">
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-control", placeholder: "Enter Password"  %>
      </div>
      <div class="mb-3">
        <%= form.label :password_confirmation, class: "form-label" %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password"  %>
      </div>
      <%= form.submit "Register User" ,class:"btn btn-primary text-center"%>
    <% end %>
  </div>
<% end %>
