<%= form_with model: event do |form| %>
  <% if event.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong><%= pluralize(@event.errors.count, "error") %> found.</strong>
      <ul>
        <% event.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter Event Name"  %>
  </div>
  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description,class: "form-control", placeholder: "Enter Event Description" %>
  </div>
  <div class="mb-3">
    <%= form.label :event_date, class: "form-label" %>
    <%= form.date_field :event_date, class: "form-control", placeholder: "Enter Event Date"  %>
  </div>
  <div class="mb-3">
    <%= form.label :category, class: "form-label" %>
    <%= form.collection_select :category_id, Category.order(:id), :id, :name,{} ,class: "form-select" %>
  </div>
  <%= form.submit class:"btn btn-primary text-center" %>
<% end %>
