<%= turbo_frame_tag "mainframe" do %>
  <div class="container">
    <h1 class="text-center">Show Post</h1>
    <div class="container">
      <h1><%= @post.title %></h1>
      <h2><%= @post.description %></h2>
      <%= link_to "Back", posts_path, class:"btn btn-primary m-1" %>
      <%= render "links" ,post: @post  %>
      <%= link_to "Add Comment", new_post_comment_path(@post), data:{ turbo_frame: "mainframe" }, class:"btn btn-primary m-1" %>
      <% if @comments.any? %>
        <h1 class="text-center">Comments</h1>
        <% @comments.each do |comment| %>
          <div class="table-responsive">
            <table class="table table-primary">
              <tbody>
                <div class="d-flex flex-column justify-content-between m-1 p-2 border border-1 border-primary">
                  <h2>
                    <%= comment.message %>
                  </h2>
                  <h4>
                    <%= comment.user.name %>
                  </h4>
                  <% if is_comment_owner?(comment) %>
                    <div class="d-flex flex-row">
                      <%= link_to "Edit", edit_post_comment_path(@post,comment), class:"btn btn-primary me-3" %>
                      <%= link_to "Delete", post_comment_path(@post,comment), data:{ turbo_method: "delete", turbo_frame: "mainframe" }, class:"btn btn-primary me-1" %>
                    </div>
                  <% end %>
                </div>
              </tbody>
            </table>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
