<%= form_with model: product do |form| %>
  <% if product.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong><%= pluralize(product.errors.count, "error") %> found.</strong>
      <ul>
        <% product.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Enter title"  %>
  </div>
  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description,class: "form-control", placeholder: "Enter description" %>
  </div>
  <div class="mb-3">
    <%= form.label :price, class: "form-label" %>
    <%= form.number_field :price,class: "form-control", placeholder: "Enter price" %>
  </div>
  <div class="mb-3">
    <%= form.label :capacity, class: "form-label" %>
    <%= form.number_field :capacity,class: "form-control", placeholder: "Enter Capacity" %>
  </div>
  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, ProductsHelper::StatusChoices,{} ,class: "form-select"  %>
  </div>
  <div class="mb-2 mt-2 form-check form-switch">
    <%= form.check_box :is_active, class: "form-check-input" %>
    <%= form.label :is_active, "Is Active?", class: "form-check-label" %>
  </div>
  <%= form.submit class:"btn btn-primary text-center" %>
<% end %>
