<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
      <tr>
        <td>
          <%= customer.first_name %>
        </td>
        <td>
          <%= customer.last_name  %>
        </td>
        <td>
          <%= customer.email %>
        </td>
        <td>
          <%= customer.phone_number %>
        </td>
        <td>
          <%= link_to "Edit",edit_buisness_customer_path(customer),class: "btn btn-outline-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
