<div class="container">
  <h1 class="text-center">Customers</h1>
  <%= form_with url: buisness_customers_search_path, method: :get do |form| %>
    <%= form.text_field :name, class:"form-control mb-2", placeholder:"Enter Customer Name"%>
    <%= form.submit "Search", class:"btn btn-outline-success" %>
  <% end %>
  <%= render "content" , customers: @customers %>
  <%= link_to "Add Customer", new_buisness_customer_path(), class: 'btn btn-primary text-center'%>
  <div class="container">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Queries</th>
          <th scope="col">Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>most sales product by quantity</td>
          <td><%= link_to "Result" , task1_path, class: "btn btn-primary" %></td>
        </tr>
        <tr>
          <td>most sales product by price</td>
          <td><%= link_to "Result" , task2_path, class: "btn btn-primary" %></td>
        </tr>
        <tr>
          <td>most booked order of product</td>
          <td><%= link_to "Result" , task3_path, class: "btn btn-primary" %></td>
        </tr>
        <tr>
          <td>most canceled order of product</td>
          <td><%= link_to "Result" , task4_path, class: "btn btn-primary" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
