<!DOCTYPE html>
<html>
  <head>
    <title>Action View Form Helpers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Action View Form Helpers</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
              <%= link_to "Add Employee",new_employee_path ,class:"nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Employees", employees_path, class:"nav-link"  %>
            </li>
          </ul>
          <%= form_with url: search_employees_path, method: :get,class:"d-flex my-2 my-lg-0" do |f|%>
            <%= f.text_field :query, class:"form-control me-2 ",placeholder:"Enter Name" %>
            <%= f.submit "Search",class:"btn btn-outline-success" %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container">
      <% if flash.any? %>
        <% flash.each do |name, msg| -%>
          <div class="alert alert-<%= name %> alert-dismissible fade show" role="alert">
            <%= msg%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
