<!DOCTYPE html>
<html>
  <head>
    <title>RailsPractice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to "Action Controller Overview", root_path, class: "navbar-brand"%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if !user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Register", new_user_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Login", new_session_path, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Logout", logout_path, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Cars", cars_path, class: "nav-link" %>
            </li>
          </ul>
          <% if !user_signed_in? %>
            <%= form_with url: search_path,class:"d-flex",method: :get do |form| %>
              <%= form.text_field :query , class: "form-control me-2", placeholder:"Search" %>
              <%= form.submit "Search", class: "btn btn-outline-success"%>
            <% end %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container">
      <% if flash.any? %>
        <% flash.each do |name, msg| -%>
          <div class="alert alert-<%= name %> alert-dismissible fade show" role="alert">
            <%= msg%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  </body>
</html>
